{
  "plugins": [ 
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "babel-plugin-styled-components",
    ["module-resolver", {
      "root": ["./resources/js"]
    }] 
  ]
}